@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Lusitana", system-ui;
}

/*=================================================header=================================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0px 2px 3px #80808026;

  & #logo {
    width: 10%;
  }

}

.links {
  all: unset;
}

/*======================================register and login======================================*/
.register,
.login {
  padding: 1.5rem;
  max-width: 30vw;
  margin: 1rem auto;
  border: 1px solid grey;
  border-radius: 1rem;

  & input,
  button {
    font-family: "Lusitana", system-ui;
  }

}

/*======================================dashboard======================================*/
.dashboard {
  padding: 1rem;
  background: #8080802e;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  & #sidebar {
    height: calc(100vh - 5rem);
    background: white;

    & .user {
      background: #2f4db1;
      color: white;
      padding: 0.5rem;
    }

    & .addtask {
      background: white;
      padding: 0.5rem;
      border-radius: 1rem;
      margin-top: 1rem;

      & button {
        cursor: pointer;
        width: 100%;
      }

    }

  }

  & #taskbar {
    grid-column: span 3;

    & .showtasks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      & button {
        margin-top: 0.8rem;
        cursor: pointer;
      }

    }

  }

}

/*======================================generative AI======================================*/
.generative {
  text-align: center;
  margin-bottom: 1rem;

  & h4 {
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  & table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;

    & tr {
      & th,
      td {
        border: 1px solid gray;
        padding: 0.2rem;

        & h4 {
          text-align: center;
        }

        button {
          all: unset;
          width: calc(100% - 1rem);
          cursor: pointer;
          transition: all 0.3s;
          margin-left: 0.5rem;
          text-align: center;

          &:hover {
            color: skyblue;
          }

        }

      }

    }

  }

  #clear {
    margin: auto;
    padding: 0.5rem 1.5rem;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 1rem;
    transition: all 0.2s;
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
    }

  }

}

.copilotKitButton,
.copilotKitHeader {
  background: black !important;
}

@media screen and (max-width:680px) {
  .header #logo {
    width: 15%;
  }

  .dashboard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboard .addtask {
    width: calc(100% - 1rem);
  }

  .dashboard #sidebar {
    height: 100%;
  }

  .dashboard #taskbar {
    grid-column: span 1;
  }

  .dashboard #taskbar .showtasks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .register,
  .login {
    max-width: calc(100vw - 5rem);
  }

  .generative {
    & table {
      width: 100%;
    }

  }

}
