@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lusitana", system-ui;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 0 2rem;

  & #logo {
    width: 20%;
  }

  & .links {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & a {
      text-decoration: none;
      padding: 0.3rem 1rem;
      transition: all 0.3s;
    }

  }

}

.register,
.login {
  padding: 1.5rem;
  max-width: 30vw;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 1rem;

  & form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    & input {
      padding: 0.5rem 1rem;
      width: calc(100% - 2rem);
      font-family: "Lusitana", system-ui;
      border-radius: 0.5rem;
      border: 0;
      border-bottom: 1px solid black;
      outline: 0;
    }

    & button {
      all: unset;
      border: 0;
      background: black;
      color: white;
      padding: 0.3rem 1.5rem;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 5px;

      &:hover {
        transform: scale(1.05);
      }

    }

  }

}

#logout {
  all: unset;
  transition: all 0.3s;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;

  &:hover {
    color: red;
    cursor: pointer;
  }

}

.dashboard {
  padding: 1rem;
  margin: 1rem auto;

  & .addtask {
    padding: 0.5rem;
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-bottom: 1rem;

    & .user {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0 0.5rem;
      color: dimgray;
    }

  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    & input {
      padding: 0.5rem 0;
      font-family: "Lusitana", system-ui;
      border: 1px solid lightgray;
      border: 0;
      border-bottom: 1px solid black;
      outline: 0;
    }

    & textarea {
      padding: 0.5rem 0;
      resize: none;
      height: 3rem;
      font-family: "Lusitana", system-ui;
      border: 0;
      border-bottom: 1px solid black;
      outline: 0;
    }

    & button {
      margin: auto;
      padding: 0.5rem 1.5rem;
      border: 0;
      background: black;
      color: white;
      cursor: pointer;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      transition: all 0.2s;
      border-radius: 5px;

      &:hover {
        transform: scale(1.05);
      }

    }

  }

  & .showtasks {
    h2 {
      text-align: center;
      margin-bottom: 1rem;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }

    & table {
      width: 100%;
      border-collapse: collapse;

      & tr {
        &:hover {
          background: #b9b5b536;
        }

        & th,
        td {
          border: 1px solid gray;
          padding: 0.2rem;

          & h4 {
            text-align: center;
          }

          & button {
            all: unset;
            width: calc(100% - 0.6rem);
            padding: 0.2rem;
            cursor: pointer;
            transition: all 0.1s;
            font-size: 1rem;
            cursor: pointer;
            text-align: center;

            &:hover {
              color: red;
            }

          }

        }

      }

    }

  }

}

.generative {
  text-align: center;
  margin-bottom: 1rem;

  & h4 {
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  & table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;

    & tr {
      & th,
      td {
        border: 1px solid gray;
        padding: 0.2rem;

        & h4 {
          text-align: center;
        }

        button {
          all: unset;
          width: calc(100% - 1rem);
          cursor: pointer;
          transition: all 0.3s;
          margin-left: 0.5rem;
          text-align: center;

          &:hover {
            color: skyblue;
          }

        }

      }

    }

  }

  #clear {
    margin: auto;
    padding: 0.5rem 1.5rem;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 1rem;
    transition: all 0.2s;
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
    }

  }

}

.copilotKitButton,
.copilotKitHeader {
  background: black !important;
}

@media screen and (max-width:680px) {
  .showtasks {
    grid-template-columns: auto;
  }

  .addtask {
    width: calc(100% - 1rem);
  }

  .register,
  .login {
    max-width: calc(100vw - 5rem);
  }

  .generative {
    & table {
      width: 100%;
    }

  }

}
