@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*, body {
  margin: 0;
  padding: 0;
  font-family: "Handlee", serif;
}
/*=================================================header=================================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  & #logo {
    width: 10%;
  }

}

.links {
  all: unset;
}

/*======================================user======================================*/
#user {
  min-height: calc(100vh - 5rem);
  padding: 1rem;
  background: linear-gradient(152deg, rgba(92, 178, 247, 1) 50%, rgba(41, 108, 129, 1) 0%);

  & #box {
    background: white;
    padding: 1rem;
    width: 50vw;
    margin: auto;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 3px grey);

    & .center {
      text-align: center;

      & p>span {
        color: blue;
        cursor: pointer;
      }

    }

  }

}

/*======================================user, register and login======================================*/
.register, .login {
  padding: 1.5rem;
  width: calc(100% - 3rem);
  margin: auto;
  border-radius: 1rem;
  animation:pop 0.1s linear forwards;

  & input, button {
    font-family: "Lusitana", system-ui;
  }

}

@keyframes pop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*======================================dashboard======================================*/
.dashboard {
  padding: 0.5rem;
  background: linear-gradient(152deg, rgba(92, 178, 247, 1) 50%, rgba(41, 108, 129, 1) 0%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  height: calc(100vh - 4rem);

  & #sidebar {
    background: white;
    border-radius: 0.5rem;
    height: 100%;

    & .user {
      background: #134897;
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    & .addtask {
      background: white;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 0.5rem;

      & button {
        cursor: pointer;
        width: 100%;
        font-family: "Handlee", serif;
      }

    }

  }

  & #taskbar {
    grid-column: span 3;
    padding: 0 0.5rem;
    height: 100%;
    overflow: auto;

    & .showtasks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      & .cards {
        background: white;

        & button {
          cursor: pointer;
          width: 49%;
        }

      }

    }

  }

}

/*======================================responsive======================================*/
@media screen and (max-width:680px) {
  .header #logo {
    width: 15%;
  }

  #user #box {
    width: 90vw;
  }

  .dashboard {
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboard #taskbar {
    grid-column: span 1;
    padding: 0;
  }

  .dashboard #taskbar .showtasks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

}
